﻿
@{
    ViewBag.Title = "Create";
}

@Html.ActionLink("Retour à la page des contacts", "Index")

<form method="post">
    <div>
        <label for="nom">Nom</label>
        <input id="nom" type="text" name="Nom" />
    </div>
    <div>
        <label for="prenom">Prénom</label>
        <input id="prenom" type="text" name="Prenom" />
    </div>
    <div>
        <label for="email">Email</label>
        <input id="email" type="email" name="Email" />
    </div>
    <div>
        <label for="dateNaiss">Date de Naissance</label>
        <input id="dateNaiss" type="date" name="DateDeNaissance" />
    </div>
    <div>
        <input type="submit"/>    
    </div>
</form>

