﻿@using DemoASPAude.Models
@model List<Contact>
@{
    ViewBag.Title = "Favorite";
}
@Html.ActionLink("Retour à la page des contacts", "Index")
<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Date de naissance</th>
        </tr>
    </thead>
    @foreach (Contact c in Model)
    {
        <tr>
            <td>@c.Nom</td>
            <td>@c.Prenom</td>
            <td>@c.Email</td>
            <td>@c.DateDeNaissance.ToShortDateString()</td>
        </tr>
    }
</table>
