﻿@using DemoASPAude.Models
@model List<Contact>
@{
    ViewBag.Title = "Index";
}

@Html.ActionLink("Nouveau", "Create")
@Html.ActionLink("Contacts Favoris", "Favorite")

<table class="table">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Date de naissance</th>
            <th>Actions</th>
        </tr>
    </thead>
    @foreach (Contact c in Model)
    {
        <tr>
            <td>@c.Nom</td>
            <td>@c.Prenom</td>
            <td>@c.Email</td>
            <td>@c.DateDeNaissance.ToShortDateString()</td>
            <td>
                <a href="@Url.Action("Delete", new { Id = c.Id })"><button>Supprimer</button></a>
                @if(!c.Favori )
                {
                    <a href="@Url.Action("AddToFavorite", new { Id = c.Id })"><button>Ajouter aux favoris</button></a>
                }
            </td>
        </tr>
    }
</table>

