﻿@using DemoASPAude.Models
@model BmiModel

@{
    ViewBag.Title = "CalculBMI";
}

<form method="post">
    <input type="number" name="poids" />
    <input type="number" name="taille" />
    <input type="submit" />
</form>

@if (Model != null)
{
    <div>
        Votre Bmi = @Model.Bmi
        <br />
        Categorie = @(Model.Bmi < 18.5 ? "Maigre" : Model.Bmi < 25 ? "Normal" : "Surpoids")
    </div>
}


